In [26]:
# Download the week 10 - Music Data.zip dataset and create a Jupyter Notebook “RecommenderSystemsMusic.ipynb”. Do the following
#     a) Clean the dataset if necessary
#     b) Display the top 10 artists correlated to "Michael Jackson" based on the user's listen_count
#     c) Display the top 10 artists correlated to "Michael Jackson" based on the user tags
#     d) Reccommend 5 artists to the user with userID = 129 based on his friends' listen_counts 
#     e) Submit the “RecommenderSystemsMusic.ipynb”
# Hint: Combine different data files together as necassary for part b), c) and d)
import numpy as np
import pandas as pd
base="Music Data/"
artists_data = pd.read_csv(base+"artists.csv",encoding="latin")
artists_data.head()

,id,name,url,pictureURL
0,1,MALICE MIZER,http://www.last.fm/music/MALICE+MIZER,http://userserve-ak.last.fm/serve/252/10808.jpg
1,2,Diary of Dreams,http://www.last.fm/music/Diary+of+Dreams,http://userserve-ak.last.fm/serve/252/3052066.jpg
2,3,Carpathian Forest,http://www.last.fm/music/Carpathian+Forest,http://userserve-ak.last.fm/serve/252/40222717...
3,4,Moi dix Mois,http://www.last.fm/music/Moi+dix+Mois,http://userserve-ak.last.fm/serve/252/54697835...
4,5,Bella Morte,http://www.last.fm/music/Bella+Morte,http://userserve-ak.last.fm/serve/252/14789013...

In [27]:
listen_data = pd.read_csv(base+"user_artists.csv",encoding="latin")
listen_data.head()

   userID  artistID  listen_count
0       2        51         13883
1       2        52         11690
2       2        53         11351
3       2        54         10300
4       2        55          8983

In [28]:
t=artists_data.columns.values
t[0]="artistID"
artists_data.columns=t

In [29]:
user_artises_data = pd.merge(artists_data, listen_data, on="artistID")
user_artises_data.head()

,artistID,name,url,pictureURL,userID,listen_count
0,1,MALICE MIZER,http://www.last.fm/music/MALICE+MIZER,http://userserve-ak.last.fm/serve/252/10808.jpg,34,212
1,1,MALICE MIZER,http://www.last.fm/music/MALICE+MIZER,http://userserve-ak.last.fm/serve/252/10808.jpg,274,483
2,1,MALICE MIZER,http://www.last.fm/music/MALICE+MIZER,http://userserve-ak.last.fm/serve/252/10808.jpg,785,76
3,2,Diary of Dreams,http://www.last.fm/music/Diary+of+Dreams,http://userserve-ak.last.fm/serve/252/3052066.jpg,135,1021
4,2,Diary of Dreams,http://www.last.fm/music/Diary+of+Dreams,http://userserve-ak.last.fm/serve/252/3052066.jpg,257,152

In [30]:
user_artises_matrix = user_artises_data.pivot_table(index='userID', columns='name',values='listen_count')
user_artises_matrix.head()

name,!!!,!DISTAIN,!deladap,#####,#2 Orchestra,#NAME?,$lick,$lick feat. Six-Fo,(1962-1966),(Pre) Kingdom,...,Özlem Tek?n,Özlem Tekin,Ö²ËÉÉì·ò,Öökülm,Ø,Útidúr,Úztari,Üebermutter,Ünloco,Ünol Büyükgönenç
userID,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
user_artises_matrix['Michael Jackson']

userID
2          NaN
3          NaN
4        732.0
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11      1007.0
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24       538.0
25      1694.0
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN
         ...
2066       NaN
2067       NaN
2068       NaN
2069       NaN
2070       NaN
2071     182.0
2072       NaN
2075     176.0
2076       NaN
2077       NaN
2078       NaN
2079       NaN
2080       NaN
2081       NaN
2083      36.0
2084       NaN
2085       NaN
2086       NaN
2087       NaN
2088      21.0
2090       NaN
2091       NaN
2092       NaN
2093       NaN
2094       NaN
2095       NaN
2096       NaN
2097       NaN
2099       NaN
2100       NaN
Name: Michael Jackson, Length: 1892, dtype: float64

In [32]:
forrest_jack_times = user_artises_matrix[user_artises_matrix['Michael Jackson'].notnull()]
forrest_jack_times.head()

name,!!!,!DISTAIN,!deladap,#####,#2 Orchestra,#NAME?,$lick,$lick feat. Six-Fo,(1962-1966),(Pre) Kingdom,...,Özlem Tek?n,Özlem Tekin,Ö²ËÉÉì·ò,Öökülm,Ø,Útidúr,Úztari,Üebermutter,Ünloco,Ünol Büyükgönenç
userID,,,,,,,,,,,,,,,,,,,,,
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
musics_listen_forest_jack = user_artises_matrix.corrwith(forrest_jack_times)
corr_forrest_jack = pd.DataFrame(musics_listen_forest_jack, columns=['Correlation'])
corr_forrest_jack.dropna(inplace=True)
corr_forrest_jack.head()

             Correlation
name
*NSYNC               1.0
2 Unlimited          1.0
2NE1                 1.0
2PM                  1.0
2Pac                 1.0

In [52]:
corr_forrest_jack.sort_values('Correlation', ascending=False).head(10)

                Correlation
name
Portishead              1.0
Roxy Music              1.0
Roxette                 1.0
Deftones                1.0
Rainbow                 1.0
Dr. Dre                 1.0
Rascal Flatts           1.0
Dionne Warwick          1.0
Dio                     1.0
Diana Ross              1.0

In [47]:
listen_mean_count = pd.DataFrame(listen_data.groupby('artistID')['listen_count'].sum())
listen_mean_count.head()

          listen_count
artistID
1                  771
2                 8012
3                  775
4                  563
5                  913

In [53]:
corr_forrest_jack = corr_forrest_jack.join(listen_mean_count['listen_count'])
corr_forrest_jack.head()

             Correlation  listen_count
name
*NSYNC               1.0           NaN
2 Unlimited          1.0           NaN
2NE1                 1.0           NaN
2PM                  1.0           NaN
2Pac                 1.0           NaN