In [1]:
#Use the result of the previous exercise "property_data1.csv" and do the following

In [9]:
import pandas as pd
import numpy as np

In [13]:
#Use your own path.
df = pd.read_csv("property_data1.csv")
df.head()

,Unnamed: 0,PID,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT
0,0,1,104.0,PUTNAM,Y,3,1,1000.0
1,1,2,197.0,LEXINGTON,N,3,1,950.0
2,2,3,125.0,LEXINGTON,N,1,1,850.0
3,3,4,201.0,BERKELEY,Y,1,1,700.0
4,4,5,203.0,BERKELEY,Y,3,2,1600.0

In [14]:
#Mean number of bedrooms
mean1 = df['NUM_BEDROOMS'].mean()
print('Mean number of bedrooms: '+ str(mean1))

Mean number of bedrooms: 1.7777777777777777

In [15]:
#Sum of bathrooms
sum1 = df['NUM_BATH'].sum()
print('Sum of bathrooms: '+ str(sum1))

Sum of bathrooms: 11

In [16]:
#Maximum number of bedroom
max1 = df['NUM_BEDROOMS'].max()
print('Maximum number of bedrooms: '+ str(max1))

#Maximum number of bedroom
min1 = df['NUM_BEDROOMS'].min()
print('Minimum number of bedrooms: '+ str(min1))

Maximum number of bedrooms: 3
Minimum number of bedrooms: 1

In [17]:
#Count the number of students
count1 = df['ST_NUM'].count()
print('Count of students: '+ str(count1))

Count of students: 9

In [18]:
#Median, standard deviation and variance of square feet
median1 = df['SQ_FT'].median()
print('Median of square feet: '+ str(median1))

std1 = df['SQ_FT'].std()
print('Standard deviation of square feet: '+ str(std1))

var1 = df['SQ_FT'].var()
print('Variance of square feet: '+ str(var1))

Median of square feet: 950.0
Standard deviation of square feet: 374.16573867739413
Variance of square feet: 140000.0

In [22]:
#Sum of bedroom, grouped by the owner occupied
groupby_sum1 = df.groupby('OWN_OCCUPIED')['NUM_BEDROOMS'].sum()
print ('Sum of bedrooms, grouped by the owner occupied: ' + str(groupby_sum1))

#Count of bedroom, grouped by the owner occupied
groupby_count1 = df.groupby('OWN_OCCUPIED')['NUM_BEDROOMS'].count()
print ('Count of bedrooms, grouped by the owner occupied: ' + str(groupby_count1))

Sum of bedrooms, grouped by the owner occupied: OWN_OCCUPIED
N     4
Y    12
Name: NUM_BEDROOMS, dtype: int64
Count of bedrooms, grouped by the owner occupied: OWN_OCCUPIED
N    2
Y    7
Name: NUM_BEDROOMS, dtype: int64

In [23]:
#Sum of bedrooms and bathrooms in each house
allrooms = (df.NUM_BEDROOMS + df.NUM_BATH)
df['All_Rooms'] = allrooms
df['All_Rooms']

0    4
1    4
2    2
3    2
4    5
5    2
6    3
7    2
8    3
Name: All_Rooms, dtype: int64

In [26]:
df.to_csv("property_data2.csv")

In [27]:
df.head()

,Unnamed: 0,PID,ST_NUM,ST_NAME,OWN_OCCUPIED,NUM_BEDROOMS,NUM_BATH,SQ_FT,All_Rooms
0,0,1,104.0,PUTNAM,Y,3,1,1000.0,4
1,1,2,197.0,LEXINGTON,N,3,1,950.0,4
2,2,3,125.0,LEXINGTON,N,1,1,850.0,2
3,3,4,201.0,BERKELEY,Y,1,1,700.0,2
4,4,5,203.0,BERKELEY,Y,3,2,1600.0,5